
.logo{
  width: 300px;
  transition: transform 0.5s;
  cursor: pointer;
  padding-left: 50px;
  padding-top: 30px;
}
.logo:hover{
  transform: scale(1.2);
}
body{
  font-family: 'Poppins', sans-serif;
  
}

a{
  text-decoration:none;
  color: #555;
}

p{
  color: #555;
}


.container{
  max-width: 1300px;
  margin: auto;
  padding-left:25px;
  padding-right: 25px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}



.testimonial{
    padding-top: 100px;
  }
  
  .testimonial .col-3{
    
    padding: 70px 30px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
    background: light;
  }
  .testimonial2 .col-3{
    
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    
    background: light;
  }
  
  .testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
  }
  
  .testimonial .col-3:hover{
    transform: translateY(-10px);
  }
 
  .col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
  }
  .testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  .small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .small-container2{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
  }